button{
    padding: 30px 45px;
    border-radius: 15px
}

.numbers{
    margin-bottom: 15px;
    background-color: salmon;
}

.numbers:hover{
  background-color: rgb(255, 188, 181);
}

.operands{
    border: 1px solid pink;
}

.row-operands{
    margin-bottom: 10px;
}

.operands:hover{
  background-color: pink;
}
