<div class="container">
    <div class="row d-flex flex-wrap">
        <!-- Operands -->
        <div class="row d-flex justify-content-around row-operands">
            <div class="col-3" *ngFor="let op of operands; let i = index">
                <button
                class="btn btn-light operands"
                (click)="catchOperation(op)">
                    <p>{{op}}</p>
                </button>
            </div>
        </div>
        <!-- Numbers -->
        <div class="col-4" *ngFor="let n of numbers">
            <button
            class="btn btn-light numbers"
            (click)="catchMyNum(n)">
                <p>{{n}}</p>
            </button>
        </div>
    </div>
        <div class="row">
            <div class="col-4">
                <button class="btn btn-light operands">
                    <p>,</p>
                </button>
            </div>
            <div class="col-4">
                <button
                class="btn btn-light numbers"
                (click)="catchMyNum(0)">
                    <p>0</p>
                </button>

            </div>
            <div class="col-4">
                <button
                class="btn btn-light operands"
                (click)="catchOperation('=')">
                    <p>=</p>
                </button>
            </div>
        </div>
</div>
